/*
 * Copyright (c) 2024 Luke Marzen
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// #define DEFAULT 0
// #define LOWER   0
// #define RAISE   0
// #define ADJUST  0
//
// / {
//     conditional_layers {
//         compatible = "zmk,conditional-layers";
//         tri_layer {
//             if-layers = <LOWER RAISE>;
//             then-layer = <ADJUST>;
//         };
//     };
// };

// &caps_word {
//     continue-list = <UNDERSCORE MINUS BACKSPACE>;
// };

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC|
// | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '  |
// |SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | ENT |
//                   |CTRL | LWR | SPC |   | SPC | RSE |SUPER|
                        bindings = <
   &kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
   &kp ESC    &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
   &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                &kp LCTRL  &none  &kp SPACE    &kp SPACE  &none  &kp RGUI
                        >;
                };

//                 lower_layer {
// // -----------------------------------------------------------------------------------------
// // |TILDE|  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC|
// // | DEL |CAPWD|     |VMUTE| VDN | VUP |   |  +  |  -  |  =  |  [  |  ]  | '|' |
// // |SHFT |CAPLK|     |     |BRTDN|BRTUP|   |  \  |  _  |     |  {  |  }  | ENT |
// //                   |CTRL | LWR | SPC |   | SPC | RSE |SUPER|
//                         bindings = <
//    &kp TILDE  &kp EXCL    &kp AT  &kp HASH    &kp DLLR      &kp PRCNT       &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
//    &kp DEL    &caps_word  &trans  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP    &kp PLUS   &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp PIPE
//    &kp LSHFT  &kp CAPS    &trans  &trans      &kp C_BRI_DN  &kp C_BRI_UP    &kp BSLH   &kp UNDER  &trans     &kp LBRC  &kp RBRC  &kp RET
//                                             &kp LCTRL  &trans  &kp SPACE    &kp SPACE  &trans  &kp RGUI
//                         >;
//                 };
//
//                 raise_layer {
// // -----------------------------------------------------------------------------------------
// // |GRAVE|  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC|
// // | DEL | F2  | F3  | F4  | F5  | F6  |   | LFT | DN  |  UP | RGT |     |PNTSN|
// // |SHFT | F8  | F9  | F10 | F11 | F12 |   | HOME| PGDN| PGUP| END | ALT | ENT |
// //                   |CTRL | LWR | SPC |   | SPC | RSE |SUPER|
//                         bindings = <
//    &kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5     &kp N6    &kp N7     &kp N8     &kp N9     &kp N0    &kp BSPC
//    &kp DEL    &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans    &kp PSCRN
//    &kp LSHFT  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp RALT  &kp RET
//                            &kp LCTRL  &trans  &kp SPACE    &kp SPACE  &trans  &kp RGUI
//                         >;
//                 };
//
//                 adjust_layer {
// // -----------------------------------------------------------------------------------------
// // |BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     | BSPC|
// // | F1  | F2  | F3  | F4  | F5  | F6  |   |     |     |     |     |     |     |
// // | F7  | F8  | F9  | F10 | F11 | F12 |   |     |     |     |     | ALT | ENT |
// //                   |CTRL | LWR | SPC |   | SPC | RSE |SUPER|
//                         bindings = <
//    &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none  &none  &none  &none  &none     &kp BSPC
//    &kp DEL     &kp F2       &kp F3       &kp F4       &kp F5       &kp F6          &none  &none  &none  &none  &none     &none
//    &kp LSHFT   &kp F8       &kp F9       &kp F10      &kp F11      &kp F12         &none  &none  &none  &none  &kp RALT  &kp RET
//                                                    &kp LCTRL  &trans  &kp SPACE    &kp SPACE  &trans  &kp RGUI
//                         >;
//                 };


        };
};
